@model DatLichKhamBenh.Models.datlichhen
<!DOCTYPE html>
<html>
<head>
    <title>Thêm mới</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href=@Url.Content("/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css")
          rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href=@Url.Content("/Areas/Admin/Content/vendor/metisMenu/metisMenu.min.css")
          rel="stylesheet">

    <!-- Custom CSS -->
    <link href=@Url.Content("/Areas/Admin/Content/dist/css/sb-admin-2.css")
          rel="stylesheet">

    <!-- DataTables CSS -->
    <link href=@Url.Content("/Areas/Admin/Content/vendor/datatables-plugins/dataTables.bootstrap.css")
          rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href=@Url.Content("/Areas/Admin/Content/vendor/datatables-responsive/dataTables.responsive.css")
          rel="stylesheet">

    <!-- Custom Fonts -->
    <link href=@Url.Content("/Areas/Admin/Content/vendor/font-awesome/css/font-awesome.min.css")
          rel="stylesheet" type="text/css">

    <!--test datepicker-->
    <link href="@Url.Content("~/Content/themes/base/minified/jquery-ui.min.css")" rel="stylesheet" />
    <!-- Required jQuery and jQuery UI Javascript references -->
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
        })
    </script>
    <!--end datepicker-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Partial("_MenuAdmin")

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header text-center">Thêm mới lịch khám</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                @using (Html.BeginForm())
                {
                    <div class="col-sm-2"></div>
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 style="color: red;" class="panel-title text-center">Điền thông tin lịch khám</h3>
                            </div>

                            @Html.AntiForgeryToken()
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-10">

                                        <form role="form">

                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                <label>Họ và tên</label>
                                                @Html.EditorFor(model => model.hoVaTen, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.hoVaTen, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Số điện thoại</label>
                                                @Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Năm sinh</label>
                                                @Html.EditorFor(model => model.ngayThangNamSinh, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ngayThangNamSinh, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Giới tính</label>
                                                @Html.DropDownListFor(model => model.gioiTinh, new SelectList(new List<Object> { new { value = 1, text = "Nam" }, new { value = 0, text = "Nữ" } }, "value", "text", 2), new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.gioiTinh, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Ngày hẹn</label>
                                                @Html.EditorFor(model => model.ngayHen, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ngayHen, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                <label>Triệu chứng ban đầu</label>
                                                @Html.EditorFor(model => model.noiDung, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.noiDung, "", new { @class = "text-danger" })
                                            </div>
                                            
                                            <div class="form-group">
                                                <input type="submit" value="Thêm mới" class="btn btn-success" />
                                                <input type="reset" value="Xóa mẫu" class="btn btn-default" />

                                            </div>

                                        </form>

                                    </div>

                                </div>

                                <!-- /.row (nested) -->
                            </div>

                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                }
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
        </div>

        <!-- /#page-wrapper -->
    </div>
    <!-- /.row -->
    <!-- /#page-wrapper -->
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src=@Url.Content("/Areas/Admin/Content/vendor/jquery/jquery.min.js")></script>

    <!-- Bootstrap Core JavaScript -->
    <script src=@Url.Content("/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.min.js")></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src=@Url.Content("/Areas/Admin/Content/vendor/metisMenu/metisMenu.min.js")></script>

    <!-- DataTables JavaScript -->
    <script src=@Url.Content("/Areas/Admin/Content/vendor/datatables/js/jquery.dataTables.min.js")></script>
    <script src=@Url.Content("/Areas/Admin/Content/vendor/datatables-plugins/dataTables.bootstrap.min.js")></script>
    <script src=@Url.Content("/Areas/Admin/Content/vendor/datatables-responsive/dataTables.responsive.js")></script>

    <!-- Custom Theme JavaScript -->
    <script src=@Url.Content("/Areas/Admin/Content/dist/js/sb-admin-2.js")></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>

</body>

</html>
